html {
    position: relative;//haha
min-height: 100%;
}

#navbarTogglerDemo02 li a{
    color: #d2601a;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer {

    width: 100%;
    /* Set the fixed height of the footer here */
    color: whitesmoke;
    background-color: #1d3c45;
}
.img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table{
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170)
}

table td {
    font-size: 0.33vw;
}
table thead {
    background:  #d2601a;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}



/* Footer 4 */
.footer- {
    display: inline-block;
}

/*====================
  Widgets
====================== */
.widget.no-box{ padding: 0; background-color: transparent;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;
}
.widget.subscribe p{ margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget p a{color: #ff8d1e;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit; position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}

ul.social-footer { margin: 0;padding: 0; width: auto;}
ul.social-footer li {display: inline-block;padding: 0;}
ul.social-footer li a {display: block; height:30px;width: 30px;text-align: center;}
.footer-column h5{
    font-size: 1.3em;
}
#footer{
    text-align: center;
}
.thumb-content{
    padding: 0.1em;
}
.thumb-content a{
    text-decoration: none;
}
.newsletter button{
    text-align: center;
    cursor: pointer;
    margin-top:0.5em;
}
.footer-column{
    width: 16em;
    display: inline-block;
    vertical-align:top;
    font-family: sans-serif;
    padding: 0.5em;
    text-align: left;
    font-size:0.98em;
    line-height: 1.4em;
}
#button-mail {
    margin-top: 1vh
}
body {

    background-color: #fff1e1;
}
html {
    position: relative;
min-height: 100%;
}
.container-fluid {
    margin-top: 80px !important;
    margin-bottom: 80px !important
}

p {
    font-size: 14px;
    margin-bottom: 7px
}



.small {
    font-size: 12px !important;
    letter-spacing: 0.5px !important
}



#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 !important
}

#progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important
}

#progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px
}

#progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto
}

#progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1
}

#progressbar li:nth-child(2):after {
    left: 50%
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar li:nth-child(3):after {
    left: 25% !important;
    width: 50% !important
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9
}

.card {
    background-color: #fff;
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
    z-index: 0
}

small {
    font-size: 12px !important
}

.a {
    justify-content: space-between !important
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.card-footer img {
    opacity: 0.3
}

.card-footer h5 {
    font-size: 1.1em;
    color: #8C9EFF;
    cursor: pointer
}