<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<th:block th:include="general.html :: headerfiles">
</th:block>
    <style>
        table td {
            border: solid white;
            font-size: 0.33vw;
        }
    </style>
</head>
<body class="d-flex flex-column" style="background-color: #fff1e1">
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="main-body">
                    <table class="table"  style="width: 98%;background-color: white">
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Описание</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>В итоге</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="product : ${products}">
                        <tr>
                            <td><img src="https://via.placeholder.com/400x200/FFB6C1/000000" class="img-cart"></td>
                            <td th:text="${product.getOpisanie()}"><strong></strong></td>
                            <td>
                                <form class="form-inline">
                                    <input class="form-control" type="text" th:value='${product.getQuantity()}'>
                                    <button rel="tooltip" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
                                </form>
                            </td>
                            <td th:text="${product.getPrice()}"></td>
                            <td th:text="${product.getPrice()*product.getQuantity()}"></td>
                        </tr>
                        </th:block>
                        <tr>
                            <td colspan="6">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">Итоговая сумма</td>
                            <td>86.00 p.</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">НДС</td>
                            <td>2.00 p.</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right"><strong>К оплате</strong></td>
                            <td>88.00 p.</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>

<div th:replace="general.html :: footer"></div>
</body>
</html>