<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
    <script type="text/javascript" src="https://www.technicalkeeda.com/js/javascripts/plugin/json2.js"></script>
    <script type="text/javascript">
        function madeAjaxCallName(){
            $.ajax({
                type: "post",
                url: "/user_info/changename",
                cache: false,
                data:'firstname=' + $("#firstname").val()+"&email=" + $("#email").text(),
                success: function(response){
                    alert("Ваше имя было изменено на "+response);
                },
                error: function(){
                    alert('Error while request..');
                }
            });
        }
        function madeAjaxCallSurName(){
            $.ajax({
                type: "post",
                url: "http://localhost:8080/user_info/changesurname",
                cache: false,
                data:'surname=' + $("#surname").val()+"&email=" + $("#email").text(),
                success: function(response){
                    alert("Ваша фамилия было изменена на "+response);
                },
                error: function(){
                    alert('Error while request..');
                }
            });
        }
    </script>
</head>
<body class="d-flex flex-column" >
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-10">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSriFFJXaLLV3g1bFT8PrDRFbD50XjQ7lm_0g&usqp=CAU" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-5">
                                <h4 id="email" th:text="${user.getEmail()}"></h4>
                                <a type="button" class="btn btn-success" th:href="@{/admin2}" style="margin-bottom: 3px">Администрирование</a>
                                <div th:if="${not_my != 'not_my'}">
                                <a type="button" class="btn btn-danger" th:href="@{/logout}"> Выйти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12"><h6 class="mb-1">Имя</h6><button type="button" onclick="madeAjaxCallName();" class="btn btn-info float-right">Изменить</button><br/><input style="border: none" id= "firstname" class="text-secondary" th:value="${user.getName()}"/></div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-12"><h6 class="mb-0">Фамилия</h6> <button type="button" onclick="madeAjaxCallSurName();" class="btn btn-info float-right">Изменить</button><br/><input style="border: none" class="text-secondary" id= "surname" th:value="${user.getSurname()}"/></div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-12 "><h6 class="mb-0">Email</h6><br/><h6 class="text-secondary" th:text="${user.getEmail()}"></h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <card class="card" th:if="${orders.isEmpty()}">
            <div class="card-body" >
                <div class="text-center">
                    <h3>У вас нет заказов</h3>
                    <button  type="button" class="btn btn-warning" style="color:#1d3c45 ;background-color: #ff8d1e">В каталог товаров</button>
                </div>
            </div>
        </card>
        <div class="table-responsive">
            <table class="table table-light table-hover" th:if="${not orders.isEmpty()}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Номер заказа</th>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Дата получения</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="order :${orders}">
                    <tr>
                        <th scope="row" th:text="${orders.indexOf(order)+1}"></th>
                        <th th:text="${order.getNumber()}"></th>
                        <th th:text="${order.getDateSet()}"></th>
                        <th th:text="${order.getDateGet()}"></th>
                        <th><span class="badge badge-info"><a style="color: whitesmoke" th:href="@{user_info/orders/{number}(number=${order.getNumber()})}">Info</a></span></th>
                        <th th:text="${order.getPrise()+' рублей'}"></th>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="general.html :: footer"></div>
</body>
</html>